{% extends '__base__.html' %}

{% block title %}日志{% endblock %}
{% block beforehead %}

<script>
    let blog_id_break = window.location.pathname.lastIndexOf('/')
    let blog_id = window.location.pathname.substring(blog_id_break + 1);

    function initVM(comments) {
        let vm = new Vue({
            el: '#vm',
            data: {
                local_user:$('#member')[0].innerText ? JSON.parse($('#member')[0].innerText.replace(/\'/g,'\"')) : '',
                content:'',
                op1:Math.floor(Math.random()*10),
                op2:Math.floor(Math.random()*10%3),
                op3:Math.ceil(Math.random()*10),
                calV:undefined,
                comments:comments,
                comment_article1:"uk-comment",
                comment_article2:"uk-comment uk-comment-primary",
                timeFmt:awesome.timeFormat
            },
            methods: {
                submit: function (blog) {
                    if(!this.content.trim()){
                        alert('留言不能为空');
                        return;
                    }
                        
                    if(this.calAns !== Number(this.calV)){
                        alert('自然人验证错误');
                        return;
                    }

                    let blog_info = {
                        blog_id:blog_id,
                        content:this.content
                    }

                    let that = this;

                    $.post('/api/create/comment', blog_info).done(function (data) {
                                if(data && data.status === 'ok')
                                    that.comments.push(data.comment);
                                else
                                    alert('失败: ' + data.msg);
                            }).fail(function (xhr, status) {
                                alert('失败: ' + xhr.status + ', 原因: ' + status);
                            });
                }
            },
            computed:{
                calAns:function(){
                    switch(this.op2){
                        case 0:
                            return this.op1 + this.op3;
                        case 1:
                            return this.op1 - this.op3;
                        default:
                            return this.op1 * this.op3;
                    } 
                }
            }
        });
        $('#vm').show();
    }

    $(function() {
        $.post('/api/get/comment', {blog_id:blog_id}).done(function (data) {
            if(data && data.status === 'ok'){
                initVM(data.comments);
                $('#vm').show();
            }
            else
                alert('失败: ' + data.msg);
        }).fail(function (xhr, status) {
            alert('失败: ' + xhr.status + ', 原因: ' + status);
        });
    });
</script>

{% endblock %}
{% block content %}
    <div class="uk-width-medium-3-4">
        <article class="uk-article">
            <h2 class="uk-article-title">{{ blog.name }}</h2>
            <p class="uk-article-meta">发表于{{ blog.created_at | datetimeformat}} by {{blog.user_name}}</p>
            <p class="uk-article-lead">{{ blog.summary }}</p>
            <p>{{ blog.content }}</p>
        </article>
    </div>

    <div class="uk-width-1-1 uk-margin-bottom" style="margin-top:30px">
        <hr>
            <p>评论区</p>
        <hr>
        <div id="vm" class="uk-width-2-3" style="margin-top:50px">
            <p id="member" class="uk-hidden">{{user}}</p>

            <ul class="uk-comment-list">
                <li v-for="(item, index) in comments">
                    <article :class="index%2 === 1 ? comment_article1 : comment_article2">
                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1570874792287&di=89498d0b5993ddcf6f582b1af89591eb&imgtype=0&src=http%3A%2F%2Fwww.zlcool.com%2Fd%2Ffile%2F2013%2F06%2F23%2Fd14f62ff81e6efc58b202a510a2b3f90.png" width="50" height="50" alt="">
                            <h4 class="uk-comment-title" v-text="item.user_name">Author</h4>
                            <div class="uk-comment-meta" v-text="timeFmt(item.created_at)">12 days ago | Profile | #</div>
                        </header>
                        <div class="uk-comment-body">
                            <p v-text="item.content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </article>
                </li>
            </ul>

            <form v-if="local_user !== ''" v-on:submit.prevent="submit" class="uk-form uk-form-stacked" style="margin-top:50px">
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        <textarea v-model="content" rows="4" name="content" placeholder="评论" class="uk-width-1-1" style="resize:none;"></textarea>
                    </div>
                </div>
                <div class="uk-form-row">
                    <span>为了验证你是自然人，请计算：<span v-text="op1"></span><span v-text="['+','-','x','/'][op2]"></span><span v-text="op3"></span>=<input v-model="calV" type="text" maxlength="10" placeholder="结果"></span>
                </div>
                
                <div class="uk-form-row">
                    <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 提交</button>
                </div>
            </form>
            <p v-else>请登录后留言</p>
        </div>
    </div>


{% endblock %}