{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}

<script>
    let ID = awesome.getQueryString('id'), action = '{{ action }}';

    function initVM(blog){
        var vm = new Vue({
            el: '#vm',
            data: blog,
            methods: {
                submit: function(){
                    if(ID){
                        $.post('/api/update/blog', this.$data).done(function (data) {
                                if(data && data.status === 'ok')
                                    window.location.href = '/blog/' + data.id;
                                else
                                    alert('失败: ' + data.msg);
                            }).fail(function (xhr, status) {
                                alert('失败: ' + xhr.status + ', 原因: ' + status);
                            });
                    }else
                        $.post('/api/create/blog', this.$data).done(function (data) {
                                if(data && data.status === 'ok')
                                    window.location.href = '/blog/' + data.id;
                                else
                                    alert('失败: ' + data.msg);
                            }).fail(function (xhr, status) {
                                alert('失败: ' + xhr.status + ', 原因: ' + status);
                            });
                }
            }
        });

        $('#vm').show();
    }

    $(function (){
        if(ID){
            $.post('/api/get/blog', {id:ID}).done(function (data) {
                $('#loading').hide();
                if(data && data.status === 'ok')
                    initVM(data.blog);
                else
                    alert('失败: ' + data.msg);
            }).fail(function (xhr, status) {
                $('#loading').hide();
                alert('失败: ' + xhr.status + ', 原因: ' + status);
            });
        }else{
            $('#loading').hide();
            initVM({
                name: '',
                summary: '',
                content: ''
            });
        }
    });
</script>

{% endblock %}

{% block content %}
    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 
            正在加载...</span>
    </div>

    <div id="vm" class="uk-width-2-3">
        <form v-on:submit.prevent="submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">标题:</label>
                <div class="uk-form-controls">
                    <input v-model="name" name="name" type="text" placeholder="标题" autocomplete="off" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">摘要:</label>
                <div class="uk-form-controls">
                    <textarea v-model="summary" rows="4" name="summary" placeholder="摘要" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">内容:</label>
                <div class="uk-form-controls">
                    <textarea v-model="content" rows="16" name="content" placeholder="内容" class="uk-width-1-1" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
                <a href="/manage/blogs" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
        </form>
    </div>

{% endblock %}