{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}

<script>
    function initVM(data) {
        function showPage(page_index,page_count){
            if(page_count > 3){
                let tmpPage = [1];

                if(page_index > 2){
                    tmpPage.push('...');
                    if(page_index < page_count - 1){
                        tmpPage.push(page_index);
                        tmpPage.push('...');
                    }else{
                        tmpPage.push(page_count - 1);
                    }
                }else{
                    tmpPage.push(2);
                    tmpPage.push('...');
                }
                    
                tmpPage.push(page_count);

                return tmpPage;
            }else{
                return page_count;
            }
        }

        let vm = new Vue({
            el: '#vm',
            data: {
                blogs:data.blogs,
                page:data.page,
                page_prefix:'blogs?page=',
                show_page:showPage(data.page.page_index,data.page.page_count),
                uk_disabled:'uk-disabled',
                uk_active:'uk-active'
            },
            methods: {
                edit_blog: function (blog) {
                    location.assign('/manage/blog?id=' + blog.id);
                },
                delete_blog: function (blog) {
                    let that = this;
                    if (confirm('确认要删除“' + blog.name + '”？删除后不可恢复！')) {
                        $.post('/api/delete/blog', {id:blog.id}).done(function (data) {
                                if(data && data.status === 'ok'){
                                    for(let i = 0;i < that.blogs.length;i++){
                                        if(that.blogs[i].id === blog.id){
                                            that.blogs.splice(i,1);
                                            break;
                                        }
                                    }
                                }else
                                    alert('失败: ' + data.msg);
                            }).fail(function (xhr, status) {
                                alert('失败: ' + xhr.status + ', 原因: ' + status);
                            })
                    }
                },
                timeFormat: awesome.timeFormat
            }
        });
        $('#vm').show();
    }

    $(function() {
        $.post('/api/manage/blogs', {page: '{{page_index}}'}).done(function (data) {
                $('#loading').hide();
                if(data && data.status === 'ok')
                    initVM({page:data.page,blogs:data.blogs});
                else
                    alert('失败: ' + data.msg);
            }).fail(function (xhr, status) {
                $('#loading').hide();
                alert('失败: ' + xhr.status + ', 原因: ' + status);
            })

        $('#vm').show();
    });
</script>

{% endblock %}

{% block content %}
    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li class="uk-active"><span>日志</span></li>
                <li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 
            正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
        <a href="/manage/blog" class="uk-button uk-button-primary uk-align-right"><i class="uk-icon-plus"></i> 新日志</a>
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-5-10">标题 / 摘要</th>
                    <th class="uk-width-2-10">作者</th>
                    <th class="uk-width-2-10">创建时间</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="blog in blogs" >
                    <td>
                        <a target="_blank"  v-bind:href="'/blog/'+blog.id" v-text="blog.name"></a>
                    </td>
                    <td>
                            <!-- v-attr="href: '/user/'+blog.user_id" -->
                        <a target="_blank"  v-text="blog.user_name"></a>
                    </td>
                    <td>
                        <span v-text="timeFormat(blog.created_at)"></span>
                    </td>
                    <td>
                        <a href="#0" v-on:click="edit_blog(blog)"><i class="uk-icon-edit"></i>
                        <a href="#0" v-on:click="delete_blog(blog)"><i class="uk-icon-trash-o"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <ul class="uk-pagination">
            <li :class="page.page_index === 1 && uk_disabled">
                <span v-if="page.page_index === 1"><i class="uk-icon-angle-double-left"></i></span>
                <a v-else v-bind:href="page_prefix + (page.page_index - 1)"><i class="uk-icon-angle-double-left"></i></a>
            </li>

            <li v-for="item in show_page" :class="page.page_index === item && uk_active">
                <span v-if="page.page_index === item" v-text="item"></span>
                <span v-else-if="item==='...'">...</span>
                <a v-else v-bind:href="page_prefix + item" v-text="item"></a>
            </li>

            <li :class="page.page_index == page.page_count && uk_disabled">
                <span v-if="page.page_index == page.page_count"><i class="uk-icon-angle-double-right"></i></span>
                <a v-else v-bind:href="page_prefix + (page.page_index + 1)"><i class="uk-icon-angle-double-right"></i></a>
            </li>
        </ul>
    </div>

{% endblock %}